<aside>
	<div style="background-color: #444444;" id="sidebar"  class="nav-collapse ">
		<!-- sidebar menu start-->
		<ul class="sidebar-menu" id="nav-accordion">
			<li>
				<a href="<%= backend_index_path %>"><i class="fa fa-star-half-o"></i><span><%= @set_system.title %></span></a>
			</li>

			<!-- 網站基礎功能 -->
			<li class="sub-menu">
				<a href="javascript:;" id="content_js"> <i class="fa fa-star"></i> <span>分類管理</span> </a>
				<ul class="sub" id="content_sub">
					<li >
						<a href="<%= backend_categorys_path %>"><i class="fa fa-star"></i><span>分類列表</span></a>
					</li>
				</ul>
				<ul class="sub" id="content_sub">
					<li >
						<a href="<%= backend_activity_index_path %>"><i class="fa fa-star"></i><span>活動列表</span></a>
					</li>
				</ul>
			</li>
			
			<li class="sub-menu">
				<a href="javascript:;" id="content_js"> <i class="fa fa-star"></i> <span>主視覺</span> </a>
				<ul class="sub" id="content_sub">
					<li >
						<a href="<%= backend_portfolio_index_path %>"><i class="fa fa-star"></i><span>作品集</span></a>
					</li>
				</ul>
				<ul class="sub" id="content_sub">
					<li >
						<a href="<%= backend_post_list_index_path %>"><i class="fa fa-star"></i><span>文章管理</span></a>
					</li>
				</ul>
				<ul class="sub" id="content_sub">
					<li >
						<a href="<%= backend_idea_video_index_path %>"><i class="fa fa-star"></i><span>教學影片</span></a>
					</li>
				</ul>
				<ul class="sub" id="content_sub">
					<li >
						<a href="<%= backend_twitr_news_index_path %>"><i class="fa fa-star"></i><span>最新推文</span></a>
					</li>
				</ul>
				<ul class="sub" id="content_sub">
					<li >
						<a href="<%= backend_user_index_path %>"><i class="fa fa-star"></i><span>會員管理</span></a>
					</li>
				</ul>
				<ul class="sub" id="content_sub">
					<li >
						<a href="<%= backend_message_index_path %>"><i class="fa fa-star"></i><span>留言管理</span></a>
					</li>
				</ul>
			</li>

			<li class="sub-menu">
				<a href="javascript:;" id="content_js"> <i class="fa fa-star"></i> <span>聖經真道</span> </a>
				<ul class="sub" id="content_sub">
					<li >
						<a href="<%= backend_holy_keyword_index_path %>"><i class="fa fa-star"></i><span>金句分享</span></a>
					</li>
				</ul>
			</li>

			<li class="sub-menu">
				<a href="javascript:;" id="content_js"> <i class="fa fa-star"></i> <span>CMS</span> </a>
				<ul class="sub" id="content_sub">
					<li>
						<a href="<%= backend_copyright_index_path %>"><i class="fa fa-star"></i><span>Copyright</span></a>
					</li>
				</ul>
			</li>

			<li class="sub-menu">
				<a href="javascript:;" id="content_js"> <i class="fa fa-star"></i> <span>站長專區</span> </a>
				<ul class="sub" id="content_sub">
					<li >
						<a href="<%= backend_property_index_path %>"><i class="fa fa-star"></i><span>資產列表</span></a>
					</li>
				</ul>
			</li> 
		</ul>
		<!-- sidebar menu end-->
	</div>
</aside>
